<!DOCTYPE html>
{% extends 'blog/baseuser.html' %}

{% block title %} creando un curso {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="saludo" id="saludo">
    <h1>Hola {{ user.username }}</h1>
  </div>
  <div class="links" id="links">
    <h2><a href="{% url 'sign_out' %}">Cerrar sesión</a></h2>
    <a href="{% url 'bienvenida' %}">Inicio</a>
  {% else %}
    <h2><a href="{% url 'sign_up' %}"> Registrate </a></h2>
    <h2><a href="{% url 'sign_in' %}">Iniciar Sesión</a></h2>
    <br>
  {% endif %}
<div class="detalles" id="details">
  <h1>Bienvenido a la sección de creacion de cursos </h1>
  <p>En esta seccion tu prodras crear tu propio curso para compartir tus conocimientos con toda a quella persona que quiera aprender sobre el tema
  aquí encontrar los liniamientos que tendras que cumplir para que tu curso cumpla con los starndares de la pagina y asi poder formar parte de la
comunidad de educadores.</p>
</div>
<div class="intro" id="intro">
  <h1>Introduccion</h1>
  <p>Pretendemos que despues de esta guiá rápida y fácil de seguir podrás plasmar tus talentos en prácticos cursos que podrán ayudar
  a miles de personas que nos visitan a ser mejores personas continuamente y lo mejor es qeu puedes ganar dinero de tus videos por cada
  suscriptor que se agruegue a tu curso.</p>
  <p>¿Ya estas motivado? bueno... y que tal si te decimos que no necesitas un estudio profgesional, ni comprar equipo o programas de computadora costos, porque
   todo lo que necesitas lo tienens en casa y lo que te falta sera bastante cómodo de conseguir, pues de eso se trara este curso en el
  cual te eneseñaremos que es mucho mas sencillo de lo que piensas.</p>
</div>
<div class="aportes" id="aportes">
  <h2>Aportes Personales:</h2>
  <p>En este curso aprenderemos a:</p>
    <ul>
      <li> Que aplicaciones te servirán para tener una buena calidad de video del curso.</li>
      <li>La mayor parte de las herramientas estan en casa.</li>
      <li>Tñecnicas para hacer Video Cursos.</li>
    </ul>
</div>

<div class="liniamientos">
  <h2>Tabla de Contenido:</h2>
    <ul> <!--#lista de contenidos-->
    <!--#lista de introduccion-->
    <li>Introduccion:
      <ul>
        <li><a href="https://drive.google.com/open?id=1wFzF-JHya1gwYBn-EBeZxA1h8g7lKNub" target="_blank" onclick="window.open(this.href, this.target,'popup', 'width=640,height=480')">¡Mucho más sencillo de lo que piensas!</a>
        </li>
      </ul>
    </li>
    <!--#lista de herramientas-->
    <li>La Herramienta definitiva:
      <ul>
        <li>
          <a href="">Empieza a crear lecciones desde tu teléfono</a>
        </li>
        <li>
          <a href="">Como usar el ScreenCast</a>
        </li>
      </ul>
    </li>
    <!--#lista de video-->
    <li>Video profgesional hecho en casa:
      <ul>
        <li><a href=""> Como conseguir un buen micrófono</a></li>
        <li><a href="">Grabar un presentación a camara</a></li>
      </ul>
    </li>
    <!--#matener detalles-->
    <li>Mantener los detalles, siempre lo bastante sencillos:
      <ul>
        <li><a href="">Edita la presentación mas el ScreenCast</a></li>
        <li><a href="">Minimiza los problemas Técnicos</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="">
<!-- <video width="320" height="240" controls preload="True" allowfullscreen>
    <source src="https://drive.google.com/file/d/1wFzF-JHya1gwYBn-EBeZxA1h8g7lKNub/view?usp=sharing" type='video/ogg; codecs="theora, vorbis"'>
    Este video no es compatible con su navegador
  </video>
</div>
<div class="otro">
  <iframe src="https://drive.google.com/file/d/1wFzF-JHya1gwYBn-EBeZxA1h8g7lKNub/preview" width="640" height="480" controls allowfullscreen></iframe>
</div>
-->
<a href="https://drive.google.com/drive/folders/14_exfKQp7xJiswcdQMbWJlKEHUYm8FRx?usp=sharing"><input type="button" name="" value="Cargar Video"></a>

{% endblock content %}
