<!DOCTYPE html>
{% extends 'blog/base.html' %}
  {% block content %}
            {% for post in posts %}
              <div class="post">
                <div class="date">
                  <p> publicado : {{post.published_date}} </p>
                </div>
                <h1> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }} </a> </h1>
                <p> {{post.text|linebreaksbr}} </p>
              </div>
            {% endfor %}
            <div class="video" id="vediores">
              <iframe src="https://drive.google.com/file/d/12ysikmHRByIXKgUORGo-vTQi_7Th3DN0/preview" width="640" height="360" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
  {% endblock %}
